# Hizmetlerin(Konteyner) ayarları
services:

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    depends_on:
      - wordpress
    ports:
      - 443:443
    volumes:
      - wordpress_data:/var/www/html
    restart: always
    networks:
      - network

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - network
    restart: always
    env_file:
      - .env

  wordpress:
    container_name: wordpress
    depends_on:
      - mariadb
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - network

# Hizmet verilerini saklar ve ana sistem ile bağlantı kurar.
volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/fkuyumcu/data/mysql
      o: bind
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      device: /home/fkuyumcu/data/wordpress
      o: bind

# Varsayılan ağ sürücüsüne bağlanır
networks:
  network:
    driver: bridge

